* {
	border: 1px dashed red;
	min-height: 10px;
}
body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	width: 50px;
	margin: 0;
}
.postcard-header h1 {
	width: 80%;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: x;
}
.body-left,
.body-right {
	padding: x;
}
input {
	border: x;
	border-bottom: x;
}
